## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,57.31,44,20,35.68,few clouds
1,1,Nieuw Amsterdam,SR,5.8833,-55.0833,84.22,74,40,11.50,scattered clouds
2,2,Qaanaaq,GL,77.4840,-69.3632,-20.29,47,0,8.50,clear sky
3,3,Bredasdorp,ZA,-34.5322,20.0403,68.29,76,100,5.37,overcast clouds
4,4,Dasoguz,TM,41.8363,59.9666,39.31,75,100,4.61,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,57.31,44,20,35.68,few clouds
1,1,Nieuw Amsterdam,SR,5.8833,-55.0833,84.22,74,40,11.50,scattered clouds
3,3,Bredasdorp,ZA,-34.5322,20.0403,68.29,76,100,5.37,overcast clouds
4,4,Dasoguz,TM,41.8363,59.9666,39.31,75,100,4.61,overcast clouds
5,5,Letnyaya Stavka,RU,45.4306,43.4472,42.89,67,100,14.07,overcast clouds
6,6,Olafsvik,IS,64.8945,-23.7142,26.69,71,41,19.60,scattered clouds
7,7,Marisel,RO,46.6500,23.1333,19.63,86,6,2.98,clear sky
8,8,Avera,US,33.1940,-82.5271,70.39,35,100,5.37,overcast clouds
10,10,Ambon,ID,-3.6954,128.1814,75.34,94,40,2.30,light rain
11,11,Arraial Do Cabo,BR,-22.9661,-42.0278,82.26,65,75,9.22,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,57.31,44,20,35.68,few clouds
1,1,Nieuw Amsterdam,SR,5.8833,-55.0833,84.22,74,40,11.50,scattered clouds
3,3,Bredasdorp,ZA,-34.5322,20.0403,68.29,76,100,5.37,overcast clouds
4,4,Dasoguz,TM,41.8363,59.9666,39.31,75,100,4.61,overcast clouds
5,5,Letnyaya Stavka,RU,45.4306,43.4472,42.89,67,100,14.07,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,North Bend,US,43.4065,-124.2243,62.17,71,0,4.61,clear sky
683,683,Marabba,SD,12.3500,32.1833,79.90,21,0,12.44,clear sky
684,684,Nome,US,64.5011,-165.4064,1.47,55,100,0.00,overcast clouds
685,685,Nioro,GM,13.3500,-15.7500,87.49,9,5,7.67,clear sky
686,686,Dwarka,IN,22.2394,68.9678,70.36,52,0,10.47,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Punta Arenas,CL,57.31,few clouds,-53.1500,-70.9167,
1,Nieuw Amsterdam,SR,84.22,scattered clouds,5.8833,-55.0833,
3,Bredasdorp,ZA,68.29,overcast clouds,-34.5322,20.0403,
4,Dasoguz,TM,39.31,overcast clouds,41.8363,59.9666,
5,Letnyaya Stavka,RU,42.89,overcast clouds,45.4306,43.4472,
6,Olafsvik,IS,26.69,scattered clouds,64.8945,-23.7142,
7,Marisel,RO,19.63,clear sky,46.6500,23.1333,
8,Avera,US,70.39,overcast clouds,33.1940,-82.5271,
10,Ambon,ID,75.34,light rain,-3.6954,128.1814,
11,Arraial Do Cabo,BR,82.26,light rain,-22.9661,-42.0278,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Punta Arenas,CL,57.31,few clouds,-53.1500,-70.9167,Hotel Hain
1,Nieuw Amsterdam,SR,84.22,scattered clouds,5.8833,-55.0833,Hotel Stardust
3,Bredasdorp,ZA,68.29,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
4,Dasoguz,TM,39.31,overcast clouds,41.8363,59.9666,Hotel Erik
6,Olafsvik,IS,26.69,scattered clouds,64.8945,-23.7142,Hotel Olafsvik

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))